'''
Докуменитация:
для приведения к стандартам PEP 
​План Б: Используем Flake8
​Flake8 — это дедушка линтеров. Он не такой быстрый, как Ruff, и не умеет сам исправлять ошибки (--fix), но он отлично справляется с проверкой стиля и точно установится, так как не требует компиляции.

'''

[flake8]
# Исключаем лишние папки
exclude = .git,__pycache__,docs,old,build,dist
# Максимальная длина строки (стандарт)
max-line-length = 88
# Какие ошибки игнорировать (по желанию)
extend-ignore = E203